# ACHTUNG: Keine echten Keys hier in GitHub eintragen! 
# Diese Variablen werden später in der Railway-Oberfläche hinterlegt.

LLM_API_KEY=dein_api_key_hier
WEB3_PROVIDER_URL=https://polygon-rpc.com
AGENT_PRIVATE_KEY=wird_spaeter_in_railway_eingetragen
CREATOR_WALLET_ADDRESS=deine_wallet_adresse
